<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form role="form" id="publish_form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span style="color: red;">*</span><label>&nbsp;发布项目</label>
                                    <input type="text" class="form-control" value="{{ approve_sheet.group_name }}" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span style="color: red;">*</span><label>&nbsp;环境</label>
                                    <input type="text" class="form-control" value="{{ approve_sheet.env }}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span style="color: red;">*</span><label>&nbsp;TAPD URL</label>
                                    <input type="text" class="form-control" value="{{ approve_sheet.tapd_url }}" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span style="color: red;">*</span><label>&nbsp;重启服务 (最多选4个)</label>
                                    <input type="text" class="form-control" value="{{ approve_sheet.services }}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span style="color: red;">*</span><label>&nbsp;SQL (若有SQL需要执行，请让DBA执行后再发布)</label>
                                    <textarea type="text" class="form-control" id="sql"
                                              rows="5" readonly>{{ approve_sheet.sql }}</textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span style="color: red;">*</span><label>&nbsp;CONSUL KEY (若有consul
                                    key添加或修改，请让运维操作后再发布)</label>
                                    <textarea type="text" class="form-control" id="consul_key"
                                              rows="5" readonly>{{ approve_sheet.consul_key }}</textarea>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span style="color: red;">*</span><label>&nbsp;发布日期</label>
                                    <input type="text" class="form-control" value="{{ approve_sheet.publish_date }}" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span style="color: red;">*</span><label>&nbsp;开始发布时间</label>
                                    <input type="text" class="form-control" value="{{ approve_sheet.publish_time }}" readonly>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="text-center">
                            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"
                                    id="approve_agree">同意
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-sm btn-danger m-t-n-xs" type="submit"
                                    id="approve_refuse">拒绝
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/custom/approve_sheet.js"></script>