{% extends 'base.html' %}
{% include 'link_css.html' %}
{% block self_head_css_js %}
    {#    <link href="/static/alert/chosen.min.css" rel="stylesheet">#}
    <link href="/static/css/new_style.css" rel="stylesheet">
    <link href="/static/alert/select2.min.css" rel="stylesheet">
    <link href="/static/css/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
{% endblock %}
{% block self_footer_js %}
    {#    <script src="/static/alert/chosen.jquery.min.js"></script>#}
    <script src="/static/alert/select2.min.js"></script>
    <script src="/static/js/timepicker/bootstrap-timepicker.js"></script>
    <script src="/static/js/datapicker/bootstrap-datepicker.js"></script>
{% endblock %}
{% block content %}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li id="projectInfo" class="active"><a data-toggle="tab" href="#tab-1">项目信息</a></li>
            <li id="publishSheet" class=""><a data-toggle="tab" href="#tab-2">发布单</a></li>
            <li id="createTab" class="" style="display: none"><a data-toggle="tab" href="#tab-3">创建发布单</a></li>
            <li id="doneSheet" class="" style="display: none"><a data-toggle="tab" href="#tab-4">完成&作废</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="text-center">
                                        <h3>项目初始化</h3>
                                        <p class="small"><i class="fa fa-cog"></i> 新增项目，并配置相关信息</p>

                                    </div>

                                    <form role="form" id="init_form">
                                        <div class="form-group">
                                            <span style="color: red;">*</span><label>&nbsp;项目</label>
                                            <select class="form-control" id="project_select">
                                                {% for gogroup in gogroup_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <span style="color: red;">*</span><label>&nbsp;负责人</label>
                                            <select id="owner_select" multiple="multiple"
                                                    class="form-control" data-live-search="true">
                                                {% for gogroup in user_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.username }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>&nbsp;一级审批人</label>
                                            <select id="first_select" multiple="multiple"
                                                    class="form-control" data-live-search="true">
                                                {% for gogroup in user_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.username }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>&nbsp;二级审批人</label>
                                            <select id="second_select" multiple="multiple"
                                                    class="form-control" data-live-search="true">
                                                {% for gogroup in user_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.username }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>&nbsp;通知邮件组</label>
                                            <select id="mailgroup_select" multiple="multiple"
                                                    class="form-control" data-live-search="true">
                                                {% for gogroup in mailgroup_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.email }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="text-with-hr">
                                            <span>审批级别</span>
                                        </div>

                                        <div id="level_select">
                                            <div class="select-level ibox">
                                                <div class="ibox-tools">
                                                    <a class="close-level-set">
                                                        <i class="fa fa-times" style="color: #ed5565"></i>
                                                    </a>
                                                </div>

                                                <form role="form">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>起始日</label>
                                                                <select class="form-control weekday-start">
                                                                    <option value=1>周一</option>
                                                                    <option value=2>周二</option>
                                                                    <option value=3>周三</option>
                                                                    <option value=4>周四</option>
                                                                    <option value=5>周五</option>
                                                                    <option value=6>周六</option>
                                                                    <option value=7>周日</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>截止日</label>
                                                                <select class="form-control weekday-end">
                                                                    <option value=1>周一</option>
                                                                    <option value=2>周二</option>
                                                                    <option value=3>周三</option>
                                                                    <option value=4>周四</option>
                                                                    <option value=5>周五</option>
                                                                    <option value=6>周六</option>
                                                                    <option value=7 selected>周日</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>起始时间</label>
                                                                <div class="input-group bootstrap-timepicker timepicker">
                                                                    <input type="text"
                                                                           class="form-control input-small timepicker start-time">
                                                                    <span class="input-group-addon"><i
                                                                            class="glyphicon glyphicon-time"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>截止时间</label>
                                                                <div class="input-group bootstrap-timepicker timepicker">
                                                                    <input type="text"
                                                                           class="form-control input-small timepicker end-time">
                                                                    <span class="input-group-addon"><i
                                                                            class="glyphicon glyphicon-time"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>审批级别</label>
                                                                <select class="form-control level-select">
                                                                    <option value='1' selected>无需审批</option>
                                                                    <option value='2'>一级审批</option>
                                                                    <option value='3'>二级审批</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="text-right">
                                            <button type="button" class="btn btn-sm btn-success m-t-n-xs"
                                                    id="add_level_select"><i
                                                    class="fa fa-plus"></i></button>
                                        </div>

                                        <br>
                                        <div class="text-center">
                                            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"
                                                    id="create_projectinfo">保存
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="text-center">
                                        <h3>项目列表</h3>
                                        <p class="small"><i class="fa fa-folder-open"></i> 已存在的项目列表</p>
                                    </div>
                                    <ul class="sortable-list connectList agile-list ui-sortable"
                                        id="inprogress">
                                        {% for project in project_tuple %}
                                            <li class="success-element">
                                                <p>项目：{{ project.0 }}</p>
                                                <p>负责人：
                                                    {% for owner in project.1.0 %}
                                                        {{ owner }}&nbsp;
                                                    {% endfor %}
                                                </p>
                                                <p>通知邮件组：
                                                    {% for mailgroup in project.1.1 %}
                                                        {{ mailgroup }}&nbsp;
                                                    {% endfor %}
                                                </p>

                                                {% if project.1|length > 5 %}
                                                    {% for level in project.1|slice:"2:5" %}
                                                        <div class="agile-detail">
                                                            <i class="fa fa-clock-o"></i> {{ level.approval_level }}
                                                            : {{ level.start_of_week }} ~ {{ level.end_of_week }}&nbsp;&nbsp;&nbsp;&nbsp;{{ level.start_time }}
                                                            ~ {{ level.end_time }}<br>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="agile-detail">
                                                        <i class="fa fa-clock-o"></i> ...
                                                    </div>
                                                    <a href="javascript:void(0)"
                                                       class="pull-right btn btn-xs btn-primary"
                                                       onclick="sendProjectValue('{{ project.0 }}')">详情</a>
                                                {% else %}
                                                    {% for level in project.1|slice:"2:" %}
                                                        <div class="agile-detail">
                                                            <i class="fa fa-clock-o"></i> {{ level.approval_level }}
                                                            : {{ level.start_of_week }} ~ {{ level.end_of_week }}&nbsp;&nbsp;&nbsp;&nbsp;{{ level.start_time }}
                                                            ~ {{ level.end_time }}<br>
                                                        </div>
                                                    {% endfor %}
                                                    <a href="javascript:void(0)"
                                                       class="pull-right btn btn-xs btn-primary"
                                                       onclick="sendProjectValue('{{ project.0 }}')">详情</a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-pane">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row text-right">
                        <div class="col-lg-12">
                            <button class="btn btn-info btn-rounded m-t-n-xs" type="submit"
                                    id="done_sheets">
                                <i class="fa fa-angle-double-right"></i>
                                已完成 && 超时作废
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="publish_sheet">

                    </div>
                </div>
            </div>

            <div id="tab-3" class="tab-pane">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <form role="form" id="publish_form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;发布项目</label>
                                                    <select class="form-control" id="project_name">
                                                        {% for projectinfo in project_tuple %}
                                                            <option value={{ projectinfo.0 }}>{{ projectinfo.0 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;环境</label>
                                                    <select class="form-control" id="env_id">
                                                        <option value='1' selected>生产环境</option>
                                                        <option value='2'>测试环境</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;TAPD URL</label>
                                                    <input type="text" class="form-control" id="tapd_url">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;重启服务 (最多选4个)</label>
                                                    <select id="reboot_services_choice" multiple="multiple"
                                                            class="form-control" data-live-search="true">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>&nbsp;SQL (若有SQL需要执行，请让DBA执行后再发布)</label>
                                                    <textarea type="text" class="form-control" id="sql"
                                                              rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>&nbsp;CONSUL KEY (若有consul key添加或修改，请让运维操作后再发布)</label>
                                                    <textarea type="text" class="form-control" id="consul_key"
                                                              rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>发布日期</label>
                                                    <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="datepicker" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-th"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>开始发布时间</label>
                                                    <div class="input-group bootstrap-timepicker timepicker">
                                                        <input type="text"
                                                               class="form-control timepicker" id="publish_time">
                                                        <span class="input-group-addon"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="text-center">
                                            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"
                                                    id="create_publishsheet">保存
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-4" class="tab-pane">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row" id="done_outtime_sheet">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="/static/js/custom/gogroup_init.js"></script>

{% endblock %}
