{% extends 'base.html' %}
{% include 'link_css.html' %}
{% block self_head_css_js %}
    {#    <link href="/static/alert/chosen.min.css" rel="stylesheet">#}
    <link href="/static/css/new_style.css" rel="stylesheet">
    <link href="/static/alert/select2.min.css" rel="stylesheet">
    <link href="/static/css/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
{% endblock %}
{% block self_footer_js %}
    {#    <script src="/static/alert/chosen.jquery.min.js"></script>#}
    <script src="/static/alert/select2.min.js"></script>
    <script src="/static/js/timepicker/bootstrap-timepicker.js"></script>
    <script src="/static/js/datapicker/bootstrap-datepicker.js"></script>
{% endblock %}
{% block content %}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li id="projectInfo" class="active"><a data-toggle="tab" href="#tab-1">项目初始化</a></li>
            <li id="approvalLevelList" class=""><a data-toggle="tab" href="#tab-6">配置审批级别</a></li>
            <li id="initTemplate" class="" style="display: none"><a data-toggle="tab" href="#tab-5">通用模板</a></li>
            <li id="publishSheet" class=""><a data-toggle="tab" href="#tab-2">发布单</a></li>
            <li id="createTab" class="" style="display: none"><a data-toggle="tab" href="#tab-3">创建发布单</a></li>
            <li id="doneSheet" class="" style="display: none"><a data-toggle="tab" href="#tab-4">完成&作废</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="text-center">
                                        <h3>项目初始化</h3>
                                        <p class="small"><i class="fa fa-cog"></i> 配置项目的基本信息</p>
                                    </div>

                                    <form role="form" id="init_form">
                                        <div class="form-group">
                                            <span style="color: red;">*</span><label>&nbsp;项目</label>
                                            <select class="form-control" id="project_select" multiple="multiple"
                                                    data-live-search="true">
                                                {% for gogroup in gogroup_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <span style="color: red;">*</span><label>&nbsp;负责人</label>
                                            <select id="owner_select" multiple="multiple"
                                                    class="form-control" data-live-search="true">
                                                {% for gogroup in user_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.username }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>&nbsp;通知邮件组</label>
                                            <select id="mailgroup_select" multiple="multiple"
                                                    class="form-control" data-live-search="true">
                                                {% for gogroup in mailgroup_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.email }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>&nbsp;一级审批人</label>
                                            <select id="first_select" multiple="multiple"
                                                    class="form-control" data-live-search="true">
                                                {% for gogroup in user_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.username }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>&nbsp;二级审批人</label>
                                            <select id="second_select" multiple="multiple"
                                                    class="form-control" data-live-search="true">
                                                {% for gogroup in user_objs %}
                                                    <option value={{ gogroup.id }}>{{ gogroup.username }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>


                                        <br>

                                        <div class="text-center">
                                            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"
                                                    id="create_projectinfo">初始化
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="text-center">
                                        <h3>项目信息列表</h3>
                                        <p class="small"><i class="fa fa-folder-open"></i> 已存在的项目初始化信息列表</p>
                                    </div>
                                    <ul class="sortable-list connectList agile-list ui-sortable"
                                        id="inprogress">
                                        {% for projectinfo in project_list %}
                                            <li class="success-element" id="{{ projectinfo.project_id }}">
                                                <p>项目： {{ projectinfo.project_name }} <a class="close-li pull-right"
                                                                                         style="color: #c4c4c4"
                                                                                         href="javascript: void(0);"
                                                                                         data-toggle="modal"
                                                                                         data-target="#deleteProjectModal"><i
                                                        class="fa fa-times"></i></a></p>
                                                <p>负责人：
                                                    {% for owner in projectinfo.owner_list %}
                                                        {{ owner }}&nbsp;
                                                    {% endfor %}
                                                </p>
                                                <p>通知邮件组：
                                                    {% if projectinfo.mailgroup_list %}
                                                        {% for mailgroup in projectinfo.mailgroup_list %}
                                                            {{ mailgroup }}&nbsp;
                                                        {% endfor %}
                                                    {% endif %}
                                                </p>

                                                {% if projectinfo.first_list %}
                                                    <p>一级审批人：
                                                        {% for first in projectinfo.first_list %}
                                                            {{ first }}&nbsp;
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                {% if projectinfo.second_list %}
                                                    <p>二级审批人：
                                                        {% for second in projectinfo.second_list %}
                                                            {{ second }}&nbsp;
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                <p>创建人：
                                                    {{ projectinfo.creator }}
                                                </p>
                                            </li>
                                            <div class="modal inmodal fade" id="deleteProjectModal" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="addModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content animated fadeIn">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"><span
                                                                    aria-hidden="true">×</span><span
                                                                    class="sr-only">Close</span></button>
                                                            <i class="fa fa-times modal-icon"
                                                               style="color: red"></i>
                                                            <h4 class="modal-title" id="minion_old">确认删除</h4>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-white"
                                                                    data-dismiss="modal">关闭
                                                            </button>
                                                            <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal"
                                                                    id="deleteProjectButton"
                                                                    onclick="delete_projectinfo('{{ projectinfo.project_id }}')">
                                                                删除
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-pane">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row text-right">
                        <div class="col-lg-12">
                            <button class="btn btn-info btn-rounded m-t-n-xs" type="submit"
                                    id="done_sheets">
                                <i class="fa fa-angle-double-right"></i>
                                已完成 && 超时作废
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="publish_sheet">

                    </div>
                </div>
            </div>

            <div id="tab-3" class="tab-pane">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <form role="form" id="publish_form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;发布项目</label>
                                                    <select class="form-control" id="project_name"
                                                            data-live-search="true">
                                                        {% for projectinfo in gogroup_objs %}
                                                            <option value={{ projectinfo.name }}>{{ projectinfo.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;环境</label>
                                                    <select class="form-control" id="env_id">
                                                        <option value='1' selected>生产环境</option>
                                                        <option value='2'>测试环境</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;TAPD URL</label>
                                                    <input type="text" class="form-control" id="tapd_url">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;重启服务 (最多选4个)</label>
                                                    <select id="reboot_services_choice" multiple="multiple"
                                                            class="form-control" data-live-search="true">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;SQL
                                                    (若有SQL需要执行，请让DBA执行后再发布)</label>
                                                    <textarea type="text" class="form-control" id="sql"
                                                              rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;CONSUL KEY (若有consul
                                                    key添加或修改，请让运维操作后再发布)</label>
                                                    <textarea type="text" class="form-control" id="consul_key"
                                                              rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;发布日期</label>
                                                    <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="datepicker" class="form-control"
                                                               autocomplete="off">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-th"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <span style="color: red;">*</span><label>&nbsp;开始发布时间</label>
                                                    <div class="input-group bootstrap-timepicker timepicker">
                                                        <input type="text"
                                                               class="form-control timepicker" id="publish_time">
                                                        <span class="input-group-addon"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="text-center">
                                            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"
                                                    id="create_publishsheet">创建发布单
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-4" class="tab-pane">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row" id="done_outtime_sheet">

                    </div>
                </div>
            </div>

            <div id="tab-5" class="tab-pane">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row" id="init_template">

                    </div>
                </div>
            </div>

            <div id="tab-6" class="tab-pane">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row text-right">
                        <div class="col-lg-12">
                            <button class="btn btn-info btn-rounded m-t-n-xs" type="submit"
                                    id="template_init">
                                <i class="fa fa-angle-double-right"></i>
                                通用模板
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="approval_level_list">

                    </div>
                </div>
            </div>

        </div>
    </div>




    <script src="/static/js/custom/gogroup_init.js"></script>

    <style>
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white inset;
            border: 1px solid #CCC !important;
        }

    </style>

{% endblock %}
