<form class="form-horizontal">
    {% if content.approve_count == '1' %}
        <div class="form-group">
            <label class="col-lg-2 control-label" id="crontab_modify">第一级审批人</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="level_type" readonly value="{{ content.first_approver }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">审批时间</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="time" readonly
                       value="{{ content.first_approve_time|date:'Y-m-d H:i' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">第一级审批结果</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="time" readonly
                       value="拒绝">
            </div>
        </div>
    {% else %}
        <div class="form-group">
            <label class="col-lg-2 control-label" id="crontab_modify">第一级审批人</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="level_type" readonly value="{{ content.first_approver }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">审批时间</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="time" readonly
                       value="{{ content.first_approve_time|date:'Y-m-d H:i' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">第一级审批结果</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="time" readonly
                       value="通过">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" id="crontab_modify">第二级审批人</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="level_type" readonly value="{{ content.second_approver }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">审批时间</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="time" readonly
                       value="{{ content.second_approve_time|date:'Y-m-d H:i' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">第二级审批结果</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="time" readonly
                       value="拒绝">
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        <label class="col-lg-2 control-label">拒绝原因</label>
        <div class="col-lg-10">
            <textarea class="form-control" readonly rows="5">{{ content.refuse_reason }}</textarea>
        </div>
    </div>
</form>