<div class="col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="text-center">
                <h3>待审批
                </h3>
                <p class="small"><i class="fa fa-clock-o"></i> 请等待审批 &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-rounded btn-sm btn-success" id="createPublish">
                        <i class="fa fa-plus"></i> 创建
                    </button>
                </p>
            </div>

            <ul class="sortable-list connectList agile-list ui-sortable" id="to_be_approved">
                {% for sheet in tobe_approved_list %}
                    <li class="info-element">
                        项目：{{ sheet.gogroup }}<br>
                        环境：{{ sheet.env }}<br>
                        服务：{{ sheet.services_str }}<br>
                        TAPD：{{ sheet.tapd_url }}<br>
                        审批级别：
                        {% if sheet.approve_level == '1' %}
                            <span>{{ sheet.level }}</span>
                        {% elif sheet.approve_level == '2' %}
                            <span style="color: #0e9aef">{{ sheet.level }}</span>
                        {% elif sheet.approve_level == '3' %}
                            <span style="color: orange">{{ sheet.level }}</span>
                        {% endif %}

                        <div class="agile-detail">
                            <i class="fa fa-clock-o"></i> {{ sheet.publish_date }} {{ sheet.publish_time }}
                            <a href="javascript:void(0)" class="pull-right btn btn-xs btn-success">修改</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="text-center">
                <h3>审批拒绝</h3>
                <p class="small" style="color: #ed5565"><i class="fa fa-warning"></i> 如有需要，请重新提交发布单</p>
            </div>
            <ul class="sortable-list connectList agile-list ui-sortable"
                id="approve_refused">
                {% for sheet in approve_refused_list %}
                    <li class="danger-element">
                        项目：{{ sheet.gogroup }}<br>
                        环境：{{ sheet.env }}<br>
                        服务：{{ sheet.services_str }}<br>
                        TAPD：{{ sheet.tapd_url }}<br>
                        审批级别：
                        {% if sheet.approve_level == '1' %}
                            <span>{{ sheet.level }}</span>
                        {% elif sheet.approve_level == '2' %}
                            <span style="color: #0e9aef">{{ sheet.level }}</span>
                        {% elif sheet.approve_level == '3' %}
                            <span style="color: orange">{{ sheet.level }}</span>
                        {% endif %}
                        <div class="agile-detail">
                            <i class="fa fa-clock-o"></i> {{ sheet.publish_date }} {{ sheet.publish_time }}
                            <a href="javascript:void(0)" class="pull-right btn btn-xs btn-danger">原因</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="text-center">
                <h3>审批通过，待发布</h3>
                <p class="small" style="color: darkorange"><i class="fa fa-warning"></i> 审批完成，请按时完成发布</p>
            </div>
            <ul class="sortable-list connectList agile-list ui-sortable"
                id="approve_passed">
                {% for sheet in approve_passed_list %}
                    <li class="warning-element">
                        项目：{{ sheet.gogroup }}<br>
                        环境：{{ sheet.env }}<br>
                        服务：{{ sheet.services_str }}<br>
                        TAPD：{{ sheet.tapd_url }}<br>
                        审批级别：
                        {% if sheet.approve_level == '1' %}
                            <span>{{ sheet.level }}</span>
                        {% elif sheet.approve_level == '2' %}
                            <span style="color: #0e9aef">{{ sheet.level }}</span>
                        {% elif sheet.approve_level == '3' %}
                            <span style="color: orange">{{ sheet.level }}</span>
                        {% endif %}
                        <div class="agile-detail">
                            <i class="fa fa-clock-o"></i> {{ sheet.publish_date }} {{ sheet.publish_time }}
                            <a href="javascript:void(0)" class="pull-right btn btn-xs btn-warning">发布</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="/static/js/custom/publish_sheet.js"></script>